# Ignore Python bytecode files
__pycache__/
*.py[cod]

# Ignore Django migrations
*/migrations/*

# Ignore node_modules folder
node_modules/

# Ignore build directory
build/

# Ignore other files and directories you don't want to include
.DS_Store
*.log
*.sqlite3
